@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

.card {
  background-color: rgba($color-white, 0.05);
  border: 0.5px solid rgba($color-white, 0.06);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
