@use "../abstracts/colors" as *;
@use "../abstracts/mixins" as *;

input {
  @include focus-ring;
  @include transition;

  &[type="date"] {
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-datetime-edit-fields-wrapper {
      padding: 0;
    }
  }
}
