@use "../components/button";

.release-grid {
  @apply grid gap-6;
  grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
}

.weekly-group-header {
  @apply z-[11];
}

.release__like-button {
  &--liked {
    @apply bg-[--color-gray-600] text-[--color-loud];
  }

  &--not-liked {
    @apply text-white hover:text-white/80;
  }

  &__icon {
    @apply transition-all duration-200;

    &--liked {
      @apply text-[--color-loud];
    }

    &--not-liked {
      @apply text-white/40 text-white opacity-30;
    }
  }
}

.release-card {
  @apply relative cursor-pointer overflow-hidden rounded-[12px] w-full flex flex-col;
  background-color: var(--color-card-background);
  border: 1px solid var(--color-border);
  // box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.4);

  // Cover section
  &__cover {
    @apply relative w-full aspect-square;
  }

  &__image-container {
    @apply absolute inset-0;
  }

  &__image {
    @apply w-full h-full object-cover;
  }

  &__placeholder {
    @apply w-full h-full flex items-center justify-center;
    background-color: var(--color-surface-dark);
  }

  &__gradient {
    @apply absolute inset-0;
    background: linear-gradient(
      180deg,
      var(--color-card-gradient-start) 0%,
      var(--color-card-gradient-middle) 80%,
      var(--color-card-gradient-end) 100%
    );
  }

  &__content {
    @apply relative z-10 flex flex-col justify-between h-full p-5;
  }

  // Type pill
  &__type {
    @apply flex items-center gap-2 text-[12px] font-medium;

    &-pill {
      @apply rounded-[6px] px-1.5 py-0.5 backdrop-blur;
      background-color: var(--color-pill-background);
      border: 1px solid var(--color-pill-border);
    }
  }

  &__label {
    @apply text-xs font-medium text-[--color-gray-400] font-mono mb-0.5;
  }

  // Title section
  &__title,
  &__artist {
    @apply text-[24px] font-semibold leading-[1.02];
  }

  &__title {
    @apply italic;
  }

  &__artist + &__title {
    @apply mt-3;
  }

  // Genre pills
  &__genres {
    @apply flex flex-wrap gap-2 mt-[14px];

    &-pill {
      @apply rounded-[6px] px-1.5 py-0.5 text-[12px] font-medium backdrop-blur;
      background-color: var(--color-genre-pill-background);
      border: 0.5px solid var(--color-genre-pill-border);
    }
  }

  // Details section
  &__details {
    @apply w-full px-[6px] pb-[6px] bg-[--color-gray-800];

    &-container {
      @apply w-full rounded-[3px_3px_8px_8px] bg-[--color-gray-700];
      box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.02);
    }
  }

  // Info section
  &__info {
    @apply p-[14px] text-[12px] leading-[1.25];

    &-row {
      @apply flex items-start gap-2 min-w-[143px] whitespace-nowrap;

      &:not(:first-child) {
        @apply mt-3;
      }
    }

    &-label {
      @apply w-16 font-mono text-[--color-gray-400];
    }

    &-value {
      @apply flex-1 truncate font-medium;
      font-family: var(--font-innovator);
      color: var(--color-text);
    }
  }

  // Actions section
  &__actions {
    @apply flex items-center relative font-semibold border-t-[0.5px] border-white/5;
    color: var(--color-text);
  }

  &__links {
    @apply flex-1 flex-shrink-0  basis-0 flex items-center gap-6 px-[14px] py-[12px];
    color: var(--color-accent);
  }

  &__link {
    @apply flex items-center gap-1 text-xs whitespace-nowrap transition-colors hover:text-[--color-loud-light];
  }

  &__divider {
    @apply w-[1px] h-[42px];
    background-color: var(--color-divider);
  }

  .release__like {
    @apply flex flex-col self-stretch flex-grow-0 flex-shrink-0 whitespace-nowrap border-l-[0.5px] border-white/5 hover:bg-white/10 transition-colors rounded-br-[8px] overflow-hidden;
  }

  .release__like-button {
    @apply flex h-full px-[14px] items-center justify-center gap-3 text-xs transition-colors;
  }

  .release__like-button {
    &__not-liked {
      @apply bg-transparent text-white hover:text-white/80;
    }
  }
}

.release-divider {
  @apply w-full h-[1px];
  background-color: var(--color-divider);
}

.release-modal {
  @apply rounded-xl overflow-hidden;

  &__grid {
    @apply grid grid-cols-[640px_1fr] h-full;
  }

  &__left {
    @apply relative w-full aspect-square;
  }

  &__right {
    @apply relative flex flex-col h-full overflow-hidden;
  }

  &__cover {
    @apply w-full h-full object-cover;
  }

  &__close {
    @apply absolute top-10 right-10 z-[100] text-white/60 hover:text-white transition-colors;
  }

  &__bottom-actions {
    @apply flex absolute bottom-0 left-0 right-0 overflow-hidden bg-gradient-to-t from-[--color-background] to-transparent z-10 pointer-events-none;

    .release-card__links {
      @apply px-10 pt-24 pb-10 flex justify-between;
    }

    .btn {
      @apply pointer-events-auto text-sm;
    }
  }

  .release__like-button {
    @apply border-[0.5px] border-white/5 hover:bg-white/10;
    @extend .btn !optional;
    @extend .btn--lg !optional;

    &--liked {
      @apply bg-[--color-gray-800] text-[--color-loud] hover:bg-[--color-gray-700];
    }

    &--not-liked {
      @apply bg-[--color-gray-800] text-white hover:text-white/80 hover:bg-[--color-gray-700];
    }
  }

  &__track-number {
    @apply text-sm text-[--color-gray-400] w-6 text-left;
  }

  &__scrollable {
    @apply flex-1 overflow-y-auto px-10 pt-10 pb-32 space-y-6;
  }
}
