.sidebar {
  @apply w-64 h-screen fixed left-0 top-0 z-10 p-6 text-white flex flex-col;

  &__logo {
    @apply pb-4;
  }

  &__nav {
    @apply flex-1;
  }

  &__list {
    @apply flex flex-col gap-1;
  }

  &__actions {
    @apply flex flex-col gap-2;
  }

  &__action-button {
    @apply flex items-center gap-2 w-full;
  }

  &__bottom {
    @apply mt-auto;
  }

  &__footer {
    @apply mt-4 text-sm border-t border-white/10;

    &-links {
      @apply flex flex-col gap-2 text-white/40;
    }

    &-link {
      @apply transition-colors hover:text-white/60;
    }
  }

  // Navigation Item
  &__nav-item {
    @apply flex items-center py-2 text-[15px] font-medium transition-colors text-white/60 hover:text-white relative;

    &--active {
      @apply text-white;
    }

    .nav-bar {
      @apply bg-white/60;
      height: 1.5px;
    }
  }
}

@keyframes activateBar {
  0% {
    width: 10px;
    margin-right: 10px;
  }
  100% {
    width: 20px;
    margin-right: 10px;
  }
}

@keyframes deactivateBar {
  0% {
    width: 20px;
    margin-right: 10px;
  }
  100% {
    width: 0;
    margin-right: 0;
  }
}

@keyframes hoverBar {
  from {
    width: 0;
    margin-right: 0;
  }
  to {
    width: 10px;
    margin-right: 10px;
  }
}

@keyframes unhoverBar {
  from {
    width: 10px;
    margin-right: 10px;
  }
  to {
    width: 0;
    margin-right: 0;
  }
}

.nav-bar-active {
  width: 20px;
  margin-right: 10px;
}

.nav-bar-activate {
  animation: activateBar 300ms ease-out forwards;
}

.nav-bar-deactivate {
  animation: deactivateBar 300ms ease-out forwards;
}

.nav-bar-hover {
  animation: hoverBar 300ms ease-out forwards;
}

.nav-bar-unhover {
  animation: unhoverBar 300ms ease-out forwards;
}
