.tabs {
  @apply space-y-6;

  &__list {
    @apply inline-flex w-auto h-9 items-center justify-center rounded-lg bg-[--color-gray-700] p-1 text-white;
  }

  &__trigger {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium 
      ring-offset-background transition-all 
      focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 
      disabled:pointer-events-none disabled:opacity-50 
      data-[state=active]:bg-white data-[state=active]:text-black data-[state=active]:shadow;

    &-icon {
      @apply flex items-center gap-2;
    }

    &[data-state="active"] {
      @apply bg-[--color-background] text-white shadow;
    }
  }

  &__content {
    @apply mt-2 ring-offset-background 
      focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
}
