@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

// Abstracts
@use 'abstracts/colors' as *;
@use 'abstracts/mixins';

// Components
@use 'components/buttons';
@use 'components/inputs';
@use 'components/cards';

// Base styles
body {
  background-color: $color-primary;
  color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}